@{
    Page.Title = "Exercise One";
    Layout = "~/_Layout.cshtml";
    var items = "";
    var theButton = Request.Form["formButton"];
    var name = Request.Form["name"];
}

@section pagetitle {
    <h1 class="text-center">Exercise 01: Basic Form Processing</h1>
}

<div>
    @if (IsPost)
    {
        if (theButton.Equals("reset"))
        {
            items = "";
            name = "";
        }

        else
        {
            items = Request.Form["menuItems"];

            if (items.IsEmpty() && name == "")
            {
                <p>
                    <span style="color:firebrick">
                        you must must enter a name & make at least one choice!
                    </span>
                </p>
            }

            else if (items.IsEmpty())
            {
                <p>
                    <span style="color:firebrick">
                        you must make at least one choice!
                    </span>
                </p>
            }

            else if (name == "")
            {
                <p>
                    <span style="color:firebrick">
                        you must must enter a name!
                    </span>
                </p>
            }

            else
            {
                <p>
                    @name, you picked the following menu items:

                    <ul>
                        @foreach (var menu in items.Split(','))
                        {
                            <li>@menu</li>
                        }
                    </ul>
                </p>
            }
        }
    }
    <form id="EX01" method="post">
        <div class="row">
            <div class="col-md-3">
                Customer Name:
                <input type="text" name="name" value="@name" />
            </div>

            <div class="col-md-9">
                <label id="menuItems">Pick your meal items:</label>
                <br />
                <input type="checkbox" name="menuItems" value="Cheeseburger" @(Array.IndexOf(items.Split(','), "Cheeseburger") >=0? "checked" : "") />Cheeseburger<br />
                <input type="checkbox" name="menuItems" value="Pizza" @(Array.IndexOf(items.Split(','), "Pizza") >=0? "checked" : "") />Pizza<br />
                <input type="checkbox" name="menuItems" value="Steak" @(Array.IndexOf(items.Split(','), "Steak") >=0? "checked" : "")  />Steak<br />
            </div>
        </div>
        <div class="row">
            <button type="submit" id="forButton" name="formButton" value="submit" class="btn-primary">Submit</button>
            <button type="submit" id="forButton" name="formButton" value="reset" class="btn">Reset</button>
        </div>
    </form>
</div>