@{
    Page.Title = "Insert";
    Layout = "~/_Layout.cshtml";

    var theButton = Request.Form["formButton"];

    var title = "";
    var artist = "0";
    var year = "";
    var label = "";

    var db = Database.Open("Chinook");
    var artistQuery = "SELECT ArtistId, Name FROM Artists ORDER BY Name";
    var artists = db.Query(artistQuery);
}

<div class="container">
    @section pagetitle {
        <h1 style="text-align: center;">Insert Exercise</h1>
    }

    @if (IsPost)
    {
        if (theButton.Equals("reset"))
        {
            <p class="alert alert-success" style="text-align:center;"><b>Form Cleared</b></p>
        }

        else
        {
            title = Request.Form["title"];
            artist = Request.Form["artist"];
            year = Request.Form["year"];
            label = Request.Form["label"];

            var insertCommand = "INSERT INTO Albums (Title, ArtistId, ReleaseYear, ReleaseLabel) VALUES(@0, @1, @2, @3)";
            db.Execute(insertCommand,title, artist, year, string.IsNullOrEmpty(label) ? null : label);


            <p class="alert alert-success" style="text-align:center;">Insert Successful</p>
        }
    }

    <h2 style="text-align:center;">Enter Album</h2>

    <form id="theForm" action="" method="post">
        <div class="row">
            <div class="col-md-5 text-right">
                <label id="title">Title:</label><br />
                <label id="artist">Artist:</label><br />
                <label id="year">Year:</label><br />
                <label id="label">Label:</label><br />
            </div>
            <div class="col-md-5">
                <input name="title" type="text" value="@title" /><br />
                <select id="ArtistListID" name="artist">
                    <option value="0">Select An Artist</option>
                    @foreach (var item in artists)
                    {
                        if (item.ArtistId.ToString() == artist)
                        {
                            <option value="@item.ArtistId" selected>@item.Name</option>
                        }

                        else
                        {
                            <option value="@item.ArtistId">@item.Name</option>
                        }
                    }
                </select>
                <input name="year" type="text" value="@year" /><br />
                <input name="label" type="text" value="@label" /><br />
            </div>
        </div>
        <div class="row" style="margin-top: 1rem;">
            <div class="col-md-12 text-capitalize text-center">
                <button type="submit" name="formButton" value="submit" class="btn btn-primary">Add</button>
                &nbsp; &nbsp;
                <button type="submit" name="formButton" value="reset" class="btn btn-primary">Clear</button>
            </div>
        </div>
    </form>
</div>